<!DOCTYPE html>
<html>
<head>
	<title>Mova Pizza</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>

<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% if error %}
  <p class="alert alert-danger"><strong>Error:</strong> {{ error }}
{% endif %}
<!-- Flash messages end -->


<h3 class="heading">Display all here</h3>

<a href="/logout">Logout</a>


<!-- JavaScript -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>