{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      	<h3 class="heading">Pizza</h3>
        {% for pizza in pizzas %}
        <div class="col-md-4" style="margin-top: 10px;">
            <div class="sc-product-item">
                <img data-name="product_image" src="http://placehold.it/250x150/2aabd2/ffffff?text={{pizza.name}}" alt="...">

                <h4 data-name="product_name">{{pizza.name}}</h4>
                <p data-name="product_desc">{{pizza.size}}</p>

                <input name="product_price" value="{{pizza.price}}" type="hidden" />
                <input name="product_id" value="{{pizza.id}}" type="hidden" />
                <input name="product_size" value="{{pizza.size}}" type="hidden" />
                {% if pizza.size == 'Small' %}
                <input type="hidden" name="topping_type" value="small">
                {% elif pizza.size == 'Medium' %}
                <input type="hidden" name="topping_type" value="medium">
                {% elif pizza.size == 'Large' %}
                <input type="hidden" name="topping_type" value="large">
                {% endif %}
                <button class="sc-add-to-cart btn btn-success">Add to cart</button>
            </div>
        </div>
        {% endfor %}
        <br/>
        <br/>
        
        <div class="col-md-12" style="margin-top: 30px;">
        <h3 class="heading">Toppings</h3>
        {% for topping in toppings %}
        <div class="col-md-4" style="margin-top: 10px;">
            <div class="sc-product-item">
                <img data-name="product_image" src="http://placehold.it/250x150/2aabd2/ffffff?text={{topping.name}}" alt="...">

                <h4 data-name="product_name">{{topping.name}}</h4>
                <p data-name="product_desc">
                 {{topping.type}} <br>
                 Category: {{topping.category}}
                </p>

                <input name="product_price" value="{{topping.price}}" type="hidden" />
                <input name="product_id" value="{{topping.id}}" type="hidden" />
                <input type="hidden" name="topping_type" value="{{topping.type}}">
                <input name="product_size" value="{{topping.type}}" type="hidden" />
                <input name="topping_name" value="{{topping.name}}" type="hidden" />
                <button class="sc-add-to-cart btn btn-success">Add Topping</button>
            </div>
        </div>
        {% endfor %}
       </div>
      </div>

    <form action="/order" method="POST"> 
        <div id="smartcart" class="col-md-4"></div>
    </form>

  </div>
</div>

{% endblock %}