<!DOCTYPE html>
<html>
<head>
	<title>{{title}} - Mova-Pizza</title>
	<!-- CSS -->
  {% if current_user.is_authenticated %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
  {% endif %}
</head>
<body>

{% if current_user.is_authenticated %}
<div class="container-fluid">
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Drive</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/pizza">Pizza</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</div>
{% else %}
{% endif %}


<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% if error %}
  <p class="alert alert-danger"><strong>Error:</strong> {{ error }}
{% endif %}
<!-- Flash messages end -->


{% block body %}{% endblock %}

<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>
</html>