{% extends "layout.html" %}
{% block body %}


<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="pull-left">Toppings</h4>
        <button class="btn btn-default pull-right" style="margin-bottom: 30px;" data-toggle="modal" data-target="#toppingModal">
          <i class="fa fa-plus"></i> Add New Topping
        </button>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Type</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for topping in toppings %}
            <tr>
              <td><a href="/topping/{{ topping.id }}">{{ topping.name }}</a></td>
              <td>{{topping.category}}</td>
              <td>{{topping.type}}</td>
              <td>{{topping.price}}</td>
               <td>
                    <a href="{{ url_for('edit_topping', id=topping.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('delete_topping', id=topping.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>


<!-- Modal -->
<div id="toppingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Topping</h4>
      </div>
      <div class="modal-body">
        <span class="throw_error"></span>
        <form action="{{ url_for('topping') }}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" style="width: 80%;">
          </div>
          <div class="form-group">
          	<label for="name">Category</label>
          	<input type="text" name="category" class="form-control" style="width: 80%;">
          </div>
          <div class="form-group">
            <label for="name">Type</label>
            <input type="text" name="type" class="form-control" style="width: 80%;">
          </div>
          <div class="form-group">
          	<label for="name">Price</label>
          	<input type="number" name="price" class="form-control" style="width: 80%;">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}